# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
backend/.venv/
venv/
ENV/
env/

# Environment variables
.env
.env.*

# IDE
.idea/

# Docker
*.log

# OS
.DS_Store
Thumbs.db


CLAUDE.md
docs
backend/uploads
node_modules/
dist/
